.profile{
    display: flex;
    padding: 34px 0px 20px;
    border-bottom: 1px rgba(33,33,33,0.4) solid;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile__avatar{
  height:190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column{
display:flex;
flex-direction: column;
}

.profile__name{
margin: 0 0 12px;
font-weight:500;
font-size: 32px;
line-height: 32px;
text-overflow: ellipsis;
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
max-width: 420px;
color: rgba(33,33,33,1);
}

.profile__description{
margin:0;
font-weight:500;
font-size: 16px;
line-height: 16px;
color: rgba(33, 33, 33, 0.7);
text-overflow: ellipsis;
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
max-width: 420px;
}

.profile__edit-button{
margin-top:114px;
font-weight:500;
font-size: 16px;
line-height: 16px;
border-style: none;
background: none;
text-align: start;
color: rgb(33, 33, 33,1);
opacity: 70%;
transition-duration: 0.4s;
}

.profile__edit-button:hover{
cursor: pointer;
opacity: 100%;
}

.profile__add-button{
  margin-left: auto;
  background-color:#212121;
  color: #FCF5E5;
  padding: 18px 32px 18px 32px;
  margin-top:auto;
  margin-bottom:20px;
  border-radius:8px;
  height:52px;
  display: flex;
  gap:5px;
  font-weight:500;
  font-size: 16px;
  line-height: 16px;
  border: none;
  transition-duration: 0.4s;
}

.profile__add-button:hover{
background-color: rgba(33,33,33,0.8);
cursor: pointer;
}

@media screen and (max-width:627px) {
  .profile {
    flex-direction:column;
    max-width:288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.profile__avatar{
  width: 80px;
  height: 80px;
  margin: 0 0 12px;
  border-radius: 8px;
}

.profile__name{
margin:0 0 6px;
width: 288px;
height: 20px;
font-size: 20px;
line-height: 20px;
font-weight: 500px;
text-overflow: ellipsis;
overflow: hidden;
 display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
max-width: 288px;
}

.profile__description{
  margin:0 0 32px;
  width: 288px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 288px;
  }

  .profile__column{
    margin-bottom: 20px;
  }

  .profile__edit-button{
    gap:8px;
    color:rgba(33,33,33,1);
    border-style: none;
    background: none;
    text-align: center;
    margin-top:0;
}
.profile__add-button{
  width: 100%;
  justify-content: center;
}
}

